
.headerContainer {
    display: flex;
    flex-flow: row nowrap;
    font-size: 2em;
    justify-content: center;
    align-content: center;
    text-align: center;
    width: 80%;
    margin: 1em auto;
}

.btnContainer {
    display: flex;
    justify-content: center;
    align-content: space-between;
    flex-flow: column nowrap;
    width: 25%;
    margin: 2em auto;
}

.recruitingContainer {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    width: 80%;
    margin: 2em auto;
}

// Media Queries
@media screen and (min-width: 767px) {

    .btnContainer {
        flex-flow: row nowrap;
        width: 100%;
    }
    
    .recruitingContainer {
        width: 25%;
    }
}