.headerContainer {
    display: flex;
    flex-flow: row nowrap;
    font-size: 2em;
    justify-content: center;
    align-content: center;
    text-align: center;
    width: 80%;
    margin: 1em auto;
}

.btnContainer {
    display: flex;
    justify-content: center;
    align-content: space-between;
    flex-flow: row nowrap;
    margin: 2em auto;
}

.recruitingContainer {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    width: 95%;
    margin: 2em auto;
    
    .overview {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        border: 1px solid #658aa9;
    
        .teamOverview {
            display: flex;
            flex-flow: column nowrap;
            justify-content: space-evenly;
            align-items: center;
            width: 100%;
            border-bottom: 1px solid #658aa9;

            .teamName {
                width: 100%;
                background-color: #658aa9;
                text-align: center;
                margin: 0;
                padding: 0.5em;
            }

            .commitCount {
                margin: 0;
                padding: 1em;
                width: 100%;
                text-align: center;
                border: 1px solid #658aa9;
            }
        }

        .starContainer {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-evenly;
            align-items: center;
            align-content: center;
            width: 100%;

            .starOverview {
                display: flex;
                flex-flow: column nowrap;
                justify-content: center;
                width: 50%;
                padding: 1em;
                border-right: 1px solid #658aa9;
    
                .starRow {
                    display: flex;
                    flex-flow: row nowrap;
                    align-items: center;
    
                    .count {
                        margin: 0;
                        padding: 0.25em;
                        font-size: 2.5em;
                    }
                    
                    .star {
                        margin: 0;
                    }
                }
    
            }

            .averageContainer {
                display: flex;
                flex-flow: column nowrap;
                justify-content: center;
                width: 50%;
    
                .average {
                    font-size: 3.5em;
                    margin: 0;
                    text-align: center;
                }

                p {
                    text-align: center;
                }
            }
        }
        
    }

    @media screen and (min-width: 767px) {
        width: 30%;
    }
}
