

.btnContainer {
    display: flex;
    flex-flow: row wrap;
    margin: 2em auto;
    width: 90%;
    justify-content: center;
}

.tableContainer{
    width: 90%;
    margin: 1em auto;
}

.tableLink {
    color: #9ebcd5;
}