
.spinContainer {
	margin-top: 6em;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
}

@keyframes spinner {
	0% {
	  transform: translate3d(-50%, -50%, 0) rotate(0deg);
	}
	100% {
	  transform: translate3d(-50%, -50%, 0) rotate(360deg);
	}
}

.spin:before {
	animation: spinner 1.5s linear infinite;
	animation-play-state: inherit;
	border: solid 10px #d5d5d6;
	border-bottom-color: #0d5796;
	border-radius: 50%;
	content: "";
	height: 10em;
	width: 10em;
	position: absolute;
	left: 50%;
	transform: translate3d(-50%, -50%, 0);
	will-change: transform;
}

.loading {
	margin: 4em auto;
	text-align: center;
}
