
@keyframes spinner {
	0% {
	  transform: translate3d(-50%, -50%, 0) rotate(0deg);
	}
	100% {
	  transform: translate3d(-50%, -50%, 0) rotate(360deg);
	}
}

.spin:before {
	animation: spinner 1.5s linear infinite;
	animation-play-state: inherit;
	border: solid 10px #d5d5d6;
	border-bottom-color: #0d5796;
	border-radius: 50%;
	content: "";
	height: 10em;
	width: 10em;
	position: absolute;
	top: 33%;
	left: 50%;
	transform: translate3d(-50%, -50%, 0);
	will-change: transform;
}

h1 {
	margin-top: 1em;
	text-align: center;

	@media screen and (min-width: 767px) {
		margin-top: 2em;
	}
}
