.teamOverview {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 5%;

    .tablesContainer {
        display: flex;
        margin: 0 auto;
        align-items: baseline;
        justify-content: space-between;

        @media screen and (max-width: 767px) {
            flex-direction: column;
        }
    }

    @media screen and (max-width: 767px) {
        width: 100%;
    }
}

.teamName {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: baseline;

    h3 {
        padding-right: 2%;
    }

    h2 {
        font-size: 2rem;
    }
}

.teamSummary {
    display: flex;
    justify-content: center;
    align-items: baseline;

    h3 {
        padding: 0 2%;
    }
}
