
.headerContainer {
    display: flex;
    justify-content: center;
    margin: 1em auto;
}

.btnContainer {
    display: flex;
    flex-flow: column nowrap;
    margin: 2em auto;
    width: 50%;
    justify-content: center;

    @media screen and (min-width: 767px) {
        flex-flow: row nowrap;
        width: 100%;
    }
}

.tableContainer {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    width: 90%;
    margin: 1em auto;

    @media screen and (min-width: 767px) {
        width: 25%;
    }
}

.tableLink {
    color: #9ebcd5;
}