* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

html,
body,
#root {
    min-height: 100vh;
    color: #d5d5d6;
    background-color: #03111e;
}

.App {
    min-width: 350px;
    display: flex;
    flex-flow: column nowrap;
}

.hasError {
    color: red;
}

hr {
    margin: 2em;
}

// Page
.page-container {
    width: 100%;
    margin: 0 auto;
}

.loading {
    display: flex;
    justify-content: center;
    margin-top: 40%;
    color: yellow;
}

.coming-soon {
    margin-top: 20%;
    margin-left: 20%;

    h2 {
        color: #d5d5d6;
        font-size: 5rem;
    }
}

.buttonsContainer {
    display: flex;
    justify-content: center;
    margin: 2em auto;
    padding-top: 2%;
}

.tableLink {
    color: #9ebcd5;
}

.pageHeader {
    margin: 2em auto;
    text-align: center;
}
