.tableContainer {
    width: 95%;
    margin: 2em auto;
    background-color: #0d5796;
    border: 1px solid #0d5796;
    border-radius: 5px;

    .tableTitle {
        display: flex;
        justify-content: center;

        h2 {
            margin-top: 0.3%;
            margin-bottom: 0.3%;
            color: #d5d5d6;
        }
    }

    @media screen and (min-width: 767px) {
        width: 80%;
    }
}

.smallTableContainer {
    display: flex;
    flex-flow: column nowrap;
    width: 95%;
    background-color: #0d5796;
    margin: 2em auto;
    border: 1px solid #0d5796;
    border-radius: 5px;

    .tableTitle {
        display: flex;
        justify-content: center;

        h2 {
            margin-top: 0.3%;
            margin-bottom: 0.3%;
            color: #d5d5d6;
        }
    }

    @media screen and (min-width: 767px) {
        width: 80%;
    }
}
