.btnContainer {
    display: flex;
    justify-content: center;
    margin: 2em auto;
}

.headerContainer {
    display: flex;
    flex-flow: row nowrap;
    font-size: 2em;
    justify-content: center;
    align-content: center;
    text-align: center;
    width: 80%;
    margin: 1em auto;
}

hr {
    margin: 2em auto;
}

.tableLink {
    color: #9ebcd5;
}

h1 {
    font-weight: 400;
}
