.btnContainer {
    display: flex;
    justify-content: center;
    margin: 2em auto;
}

.desktopTableContainer {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    margin: 0 auto;
    width: 80%;
}

.mobileTableContainer {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    width: 95%;
    margin: 0 auto;
}