
.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    border: 1px solid #d5d5d6;
    border-radius: 2px;
    justify-content: space-around;
    background-color: #d5d5d6;
    color: #03111e;

}

.playerContainer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: baseline;
}

.playerLink {
    font-size: 2em;
    text-align: center;
    margin-top: 0.5em;
    color: #03111e;
    text-decoration: none;

    @media screen and (min-width: 767px) {
            font-size: 2.5em;
        }
}

.playerDetailsContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0.5em 0;

    @media screen and (min-width: 767px) {
        margin-bottom: 1em;
        font-size: 1.25em;
    }
}

.text {
    margin: 0 0.5em;
}