.navbarContainer {
    font-weight: bold;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: #0d5796;
    padding: 1em 0;

    a {
        color: white;
    }
}

.navLogo {
    margin-left: 1em;
    height: 3em;
    width: 4.5em;
}

.homeIcon {
    height: 2em;
    width: 2em;
}

.logoLink {
    background-color: inherit;
}

.navLinksContainer {
    width: 66%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: inherit;
}

.navLink {
    background-color: inherit;
    border-bottom: 2px solid transparent;
}

.navLink:hover {
    color: #cb2c2c;
    border-bottom: 2px solid #cb2c2c;
    transition: all 0.3s;
}

.navDropDownContainer {
    display: flex;
    flex-flow: column nowrap;
    justify-items: center;
    justify-content: center;
    background-color: #0d5796;
}

.dropdownBtn {
    display: inline-block;
    position: relative;
    background-color: inherit;
    border: none;
    color: white;
    font-weight: bold;
}

.dropdownBtn:hover {
    color: #cb2c2c;
    border-bottom: 2px solid #cb2c2c;
    cursor: pointer;
    transition: all 0.3s;
}

.dropDownContainer {
    top: 0;
    height: 0;
    background-color: inherit;
}

.dropdownLink {
    background-color: inherit;
    border: none;
    color: white;
    text-align: center;
    display: block;
    padding: 10px;
    width: 8em;
    position: relative;
    font-weight: bold;
    overflow: auto;
    z-index: 1;
}

.dropdownLink:hover {
    color: #cb2c2c;
    border-bottom: 2px solid #cb2c2c;
    cursor: pointer;
    transition: all 0.3s;
}


@media screen and (min-width: 767px) {
    .navbarContainer {
        font-weight: bold;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        background-color: #0d5796;
        padding: 1em 0;

        a {
            color: white;
        }
    }

    .navLogo {
        display: flex;
        height: 5em;
        width: 7em;
        margin-left: 5em;
        background-color: inherit;
    }

    .mobileLogo {
        display: none;
    }

    .logoLink {
        background-color: inherit;
    }

    .navLinksContainer {
        width: 25%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: inherit;
        margin-right: 5em;
    }

    .navLink {
        background-color: inherit;
        padding: 5px;
    }
}
