.teamOverview {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: baseline;

    .teamNameAndRatingContainer {
        display: flex;
        flex-flow: column nowrap;
        width: 90%;
        margin: 0 auto;

        .teamName {
            display: flex;
            flex-flow: row nowrap;
            margin: 0 auto;
            justify-content: center;
            flex-wrap: nowrap;
            align-items: baseline;
            border: 1px solid #4c6474;
            width: 100%;
    
            .teamNameChild {
                padding: 0 10px;
            }
    
            @media screen and (min-width: 767px) {
                margin: 0 auto;
                flex-flow: row nowrap;
                justify-content: center;
                width: 80%;
            }
        }
    
        .teamRatings {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-evenly;
            text-align: center;
            background-color: #4c6474;
            width: 100%;
    
            .ratingCategory {
                padding: 0.5em;
            }
    
            .rating {
                font-size: 2em;
                margin: 0 auto;
            }
    
            @media screen and (min-width: 767px) {
                margin: 0 auto;
                flex-flow: row nowrap;
                justify-content: space-evenly;
                width: 80%;
            }
        }

        @media screen and (min-width: 767px) {
            width: 50%;
        }
    }

    .teamStatsContainer {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        margin: 0 auto;
        width: 90%;

        .teamStats {
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: baseline;
            border: 1px solid #4c6474;
            padding: 1em;
            margin: 0;
            width: 100%;

            h2 {
                margin: 0.5em auto;
                text-align: center;
            }

            hr {
                border-bottom: 1px solid #4c6474;
                width: 80%;
                margin: 0.5em auto;
            }

            .statCategory {
                display: flex;
                flex-flow: column nowrap;
                justify-content: center;
                margin: 0.5em auto;
                text-align: center;
            }

            .stat {
                font-size: 2.5em;
                padding: 0;
                margin: 0;
            }

            @media screen and (min-width: 767px) {
                margin: 0;
                width: 80%;
            }
        }

        @media screen and (min-width: 767px) {
            width: 40%;
            margin: 0;
        }
    }

    @media screen and (min-width: 767px) {
        align-items: center;
        align-content: center;
    }
}
