
.headerContainer {
    display: flex;
    flex-flow: row nowrap;
    font-size: 2em;
    justify-content: center;
    align-content: center;
    text-align: center;
    width: 80%;
    margin: 1em auto;
}

.btnContainer {
    display: flex;
    flex-flow: row wrap;
    margin: 2em auto;
    width: 90%;
    justify-content: center;
}

.recordTableContainer {
    margin: 1em auto;
    width: 90%;
}

.tableLink {
    color: #9ebcd5;
}

@media screen and (min-width: 767px) {
    .recordTableContainer {
        width: 40%;
    }
}
