.welcomeContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: baseline;
    margin: 1em auto;
    width: 80%;

    h1 {
        text-align: center;
        margin: 3% auto;
    }

    @media screen and (min-width: 767px) {
        width: 100%;

        h1 {
            margin: 1% auto;
        }
    }
}

.btnContainer {
    display: flex;
    justify-content: center;
    margin: 2em auto;
}
