
.btnContainer {
	display: flex;
	justify-content: flex-start;
	flex-flow: row wrap;
	margin: 0 auto;
	width: 85%;

	@media screen and (min-width: 767px) {
        width: 95%;
    }
}

.btn {
	padding: 0.5em;
	color: #03111e;
	background-color: #9ebcd5;
	border: 1px solid #03111e;
}

.activeBtn {
	padding: 0.5em;
	color: #d5d5d6;
	background-color: #0d5796;
	border: 1px solid #03111e;
}

.btn:hover {
	cursor: pointer;
	background-color: #0d5796;
	color: #d5d5d6;
}

.table {
	.tableTitle {
		text-align: center !important;
		background-color: #03111e !important;
		color: #d5d5d6 !important;
		font-size: 1.5em;
	}

	.tableHeader {
		background-color: #0d5796 !important;
		color: #d5d5d6 !important;
		border: 1px solid #a6b6c6 !important;
		border-radius: 0pm !important;
	}

	.tableCell {
		background-color: #4c6474;
		color: #d5d5d6;
		border: 1px solid #a6b6c6;
	}
}
