.header {
    margin: 1em auto;
    text-align: center;
}

.desktopTableContainer {
    width: 80%;
    margin: 0 auto;
}

.mobileTableContainer {
    width: 95%;
    margin: 0 auto;
}

.buttonsContainer {
    display: flex;
    justify-content: center;
    margin: 2em auto;
}